<!DOCTYPE html>
<html>
	<head>
		<title>chat-bot</title>
		<link rel="stylesheet" type="text/css" href="/css/reset.css" />
        <link rel="stylesheet" type="text/css" href="/css/index.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	</head>
	<body>
		<div class="container">
			<h1 class="title">ABC Insurance Company</h1>
			
			<div class="link">
                <a href="/index">ChatBot </a>
                
				
            </div>
            <p></p>
            <p></p>
            <p></p>
            <div class="link">
                   
                    
                    <a href="/dashboard?username={username} ">Dashboard </a>
                </div>
		</div>
		
	</body>
</html>